body {
  background-color: #f6f6f6;
}


#top-space {
	padding-top: 100px;
}

#main-container {
  position: relative;
	background-color: white;
	background-size: 125%;
	margin-left:150px;
  margin-right:450px;
}
/*Google Address Autocomplete*/

#address-container {
  background-color: white;
	position: fixed;
  right: 0px;
  width: 225px;
  border: 1px solid gray;
  padding: 175px;
  margin-right:50px;
}

label {
  font-size: 200px;
}

#row-0 {
	padding-top: 20px;
}

#row-2 {
	padding-bottom: 20px;
}

#locationField, #controls {
  position: relative;
  width: 480px;
  padding-bottom: 75px;
}
#autocomplete {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 99%;
}
.label {
  text-align: right;
  font-weight: bold;
  width: 100px;
  color: #303030;
}
#address {
  border: 1px solid #000090;
  background-color: #f0f0ff;
  width: 480px;
  padding-right: 2px;
}
#address td {
  font-size: 10pt;
}
.field {
  width: 99%;
}
.slimField {
  width: 80px;
}
.wideField {
  width: 200px;
}
#locationField {
  height: 20px;
  margin-bottom: 2px;
}