#checkout-container {
	margin-top:-1125px;
}

#recently-row {
	margin-top:100px;
}

#dress-details {
	font-size:12px;
	margin-top:-150px;
  margin-left: 145px;
  margin-bottom:100px;
}

#blouse-details {
  font-size:12px;
  margin-top:-150px;
  margin-left: 145px;
}

#checkout-btn{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
}

#cc-images {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

#pay-pal-btn {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#amazon-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  border: solid #e0e0e0;
  border-width: 0 0 2px 0;
  padding-bottom:10px;
}
#promo-input {
  width:100%;
  background-image: url('../img/apply_dark.jpg');
  background-repeat: no-repeat;
  background-position: right;
  height:45px;
}
#promo-field {
  width:100%;
  height:36px;
  font-size: 18;
  margin-bottom:10px;
}

#error-label {
  color: red;
}

table {
  width:100%;
}
th, td {
  padding: 5px;
}
td.amount {
  text-align: right;
}
#still-not-sure {
  display: block;
  width:300px;
  height:300px;
  margin-left:auto;
  margin-right:auto;
}
.remove-btn {
  border: none;
  background-color: white;
}
.remove-btn:hover {
  text-decoration:underline;
}

#show-more {
  display: block;
  border: none;
  background-color: white;
  margin-left:auto;
  margin-right:auto;
}
#show-more:hover {
  text-decoration: underline;
}
#discount-amount {
  color: #91cfb4;
}
#amount-from-shipping {
  color: red;
}