#checkout-container {
	margin-top:-1125px;
}

#recently-row {
	margin-top:100px;
}

#dress-details {
	font-size:12px;
	margin-top:-150px;
  margin-left: 145px;
  margin-bottom:100px;
}

#blouse-details {
  font-size:12px;
  margin-top:-150px;
  margin-left: 145px;
}

#checkout-btn{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
}

#cc-images {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

#pay-pal-btn {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#amazon-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}