#checkout-container {
	margin-top:-1125px;
}

#recently-row {
	margin-top:100px;
}

#dress-details {
  font-size:12px;
	margin-top:-150px;
  margin-left: 145px;
  margin-bottom:100px;
}

#blouse-details {
  font-size:12px;
  margin-top:-150px;
  margin-left: 145px;
}