#item-container {
	/*position: relative;*/
	/*width:82%;*/
	/*margin-left:185px;*/
	margin-top:-1850px;
}

#gridSystemModal {
	margin-left: 100px;
	margin-right: 100px;
}

#checkout-continue-row {
	margin-top:35px;
}