.modal-title {
  color:black;
}
.modal-title:hover {
  color:grey;
}

#item-container {
	margin-top:-1850px;
}

#checkout-continue-row {
	margin-top:35px;
}

.atc-button {
  position: relative;
  left:100;
  top:-15;
  height: 16px;
  width:85px;

  border: none;
  background-color: white;
  background-image: url('../img/AddToCart.jpg');
  background-repeat: no-repeat;
}

#item-row-one {
  margin-left: 100px;
}

