<!DOCTYPE html5>
<html5 lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Checkout-Main</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
		<link href="../../css/bootstrap.min.css" rel="stylesheet">
		<link href="../css/cart.css" rel="stylesheet">
	</head>
	<body>
		<img src="../img/bg-checkout.jpg" alt="">
		<div class="container" id ="checkout-container">
			<div class="row" id="shopping-order">
				<div class="col-lg-8">
					<p>Shopping Cart</p><hr>
					<div class="row">
						<canvas id="dress-thumbnail" width="120" height="160"></canvas>
						<p id="dress-details">Versace for H&M<br>Silk Dress<br>Small<br>$24.99<br><br><br><br><button id="remove-dress" class="remove-btn">Remove</button></p>
					</div>
					<div class="row">
						<canvas id="blouse-thumbnail" width="120" height="160"></canvas>
						<p id="blouse-details">Versace for H&M<br>Silk Dress<br>Small<br>$24.99<br><br><br><br><button id="remove-blouse" class="remove-btn">Remove</button></p>
					</div>
					<div class="row" id="recently-row">
						<div class="col-lg-12">
							<p>Recently Removed from Cart</p><hr>
							<canvas id="recently-removed" width="650" height="333"></canvas>
						</div>
					</div>
					<br><button id="show-more">Show More</button>
				</div>
				<div class="col-lg-4">
				  <p>Order Summary</p><hr>
				  <!-- <form id="promo-form"> -->
					  <label class="custom-input-label">Promo</label>
				  	<div class="flexContainer">
				  	  <input type="text" class="inputField" id="promo-input" name="promo_field">
				  	  <button id="apply-btn">
				  	  	<canvas id="apply-img" width="108" height="37" onclick="apply()"></canvas>
				  	  </button>
				  	</div>
				  <!-- </form> -->
				    <span id="error-label"></span>
				    <br>
				    <table>
				      <tr>
				        <td>Subtotal:</td>
				        <td class="amount">$49.98</td>
				      </tr>
				      <tr id="discount-row">
				        <td>Discount</td>
				        <td class="amount" id="discount-amount">$19.99</td>
				      </tr>
				      <tr>
				        <td>Tax:</td>
				        <td class="amount">$0.00</td>
				      </tr>
				      <tr>
				        <td>Shipping:</td>
				        <td class="amount">$5.99</td>
				      </tr>
				    </table>
				    <hr>
				    <table>
				      <tr id="total-row">
				        <td>Total:</td>
				        <td class="amount">$56.97</td>
				      </tr>
				      <tr id="total-row">
				        <td></td>
				        <td class="amount">You're only <span id="amount-from-shipping">$22.03</span> away from <strong>FREE shipping</strong></td>
				      </tr>
				    </table>
						  <div id="payment-options" class="col-lg-12">
					    	<a id="checkout-btn" href="checkout_cc.html"/>
					    		<img src="../img/payment_buttons/checkout_with_credit_card_btn.png" width="350" height="55"/>
					    	</a>
						    <img id="cc-images" src="../img/payment_buttons/CC_images.png">
						    <a href="checkout_paypal.html" onclick="openWin()">
						    	<img id="pay-pal-btn" src="../img/payment_buttons/pay_pal_chkout.png"><br>
						    </a>
						    <a href="checkout_amazon.html"><img id="amazon-btn" src="../img/payment_buttons/pay_with_amazon.png"><br></a>
						  </div>
				 <div class="col-lg-12">
				 		<img id="still-not-sure" src="../img/still_not_sure.png"/>
				 </div>
				</div>
			</div>
		</div>

	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.js"></script>
	  <script type="text/javascript" src="../../js/tether.min.js"></script>  <!-- Bootstrap tooltips -->
	  <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
	  <!-- CUSTOM SCRIPTS -->
		<script type="text/javascript" src="../js/cart.js"></script>

  </body>
</html5>