<!DOCTYPE html5>
<html5 lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Checkout-Main</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
		<link href="../../css/bootstrap.min.css" rel="stylesheet">
		<link href="../css/checkout_main.css" rel="stylesheet">
	</head>
	<body>
		<img src="../img/bg-checkout.jpg" alt="">
		<div class="container-fluid" id ="checkout-container">
			<div class="row" id="shopping-order">
				<div class="col-sm-8">
					<p>Shopping Cart</p><hr>
					<div class="row">
						<canvas id="dress-thumbnail" width="120" height="160"></canvas>
						<p id="dress-details">Versace for H&M<br>Silk Dress<br>Small<br>$42.99</p>
					</div>
					<div class="row">
						<canvas id="blouse-thumbnail" width="120" height="160"></canvas>
						<p id="blouse-details">Versace for H&M<br>Silk Dress<br>Small<br>$42.99</p>
					</div>
					<div class="row" id="recently-row">
						<div class="col-sm-12">
							<p>Recently Removed from Cart</p><hr>
							<canvas id="recently-removed" width="650" height="333"></canvas>
						</div>
					</div>
				</div>
				<div class="col-xs-4">
				  <p>Order Summary</p><hr>
				  <form id="promo-form"><!--  action="checkout.html" -->
				    <input id="promo-field" type="text" placeholder="Have a promo code?" name="promo_field">
				    <span id="error-label"></span>
				    <br>
				    <table>
				      <tr>
				        <td>Subtotal:</td>
				        <td class="amount">$65.00</td>
				      </tr>
				      <tr>
				        <td>Tax:</td>
				        <td class="amount">$0.00</td>
				      </tr>
				      <tr>
				        <td>Shipping:</td>
				        <td class="amount">$0.00</td>
				      </tr>
				    </table>
				    <hr>
				    <table>
				      <tr id="total-row">
				        <td>Total:</td>
				        <td class="amount">$65.00</td>
				      </tr>
				    </table>
					  <div id="payment-options" class="col-sm-12">
				    	<input type="image" alt="Submit" id="checkout-btn" src="../img/payment_buttons/checkout_with_credit_card_btn.png" width="350" height="55"/>
					    <img id="cc-images" src="../img/payment_buttons/CC_images.png">
					    <a onclick="return popitup('paypal_window.html')">
					    	<img id="pay-pal-btn" src="../img/payment_buttons/pay_pal_chkout.png"><br>
					    </a>
					    <img id="amazon-btn" src="../img/payment_buttons/pay_with_amazon.png"><br>
					  </div>
				 </form>
				</div>
			</div>
		</div>

	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.js"></script>
	  <script type="text/javascript" src="../../js/tether.min.js"></script>  <!-- Bootstrap tooltips -->
	  <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
	  <!-- CUSTOM SCRIPTS -->
		<script type="text/javascript" src="../js/checkout_main.js"></script>
		<script type="text/javascript" src="../js/validations.js"></script>

  </body>
</html5>