<!DOCTYPE html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Paypal Payment</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/paypal.css">


  </head>
  <body>
  <img src="../img/bg_paypal.jpg"/>

<div class="container">
  <form>
    <input id="email" type="text" name="email" placeholder="Email"><br>
    <input id="password" type="text" name="password" placeholder="Password"><br>
    <input id="checkbox" type="checkbox" name="checkbox"><label></label>  <br>
    <input id="submit" type="submit" name="submit" value="Login"><br>
    <hr>
    <button id="create-acct"></button>
  </form>
</div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.js"></script>
  <script type="text/javascript" src="../../js/tether.min.js"></script>  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
  </body>
</html>