<!DOCTYPE html5>
<html5 lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>PDP</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
		<link href="../../css/bootstrap.min.css" rel="stylesheet">
		<link href="../../css/mdb.min.css" rel="stylesheet">
		<link href="../css/PDP.css" rel="stylesheet">
	</head>
	<body>

		<a href="cart.html"><img id="cart-icon" src="../img/cart_icon.png" alt=""></a>
		<img class="mock-bg" src="../img/NAV_blank.jpg" alt=""> <!-- BG IMAGE -->
		<div class="container" id ="item-container">
			<div class="row" id="item-row-one">
				<div class="col-lg-6">
					<canvas id="jeans-left" width="617" height="834"></canvas>
				</div>
				<div class="col-lg-6">
					<div class="row">
						<h6 id="brand"><strong>EXPRESS</strong></h6>
						<img id="jeans-price" src="../img/PDP/jeans_price.png"><br>
						<button class="atc-button" id="dress-atc" data-toggle="modal" data-target=".cart-popup">ADD TO CART</button>
						<img id="in-your-cart" src="../img/PDP/in_your_cart_btn.png"/>
					</div>
					<div class="row">
						<canvas id="jeans-details" width="618" height="487"></canvas>
					</div>
				</div>
			</div>
			<canvas id="you-may-also-like" width="1242" height="407"></canvas>
		</div>

<!-- ++++++++++++++++++++++++++++++++++++++++++++++++ Modal ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
		<div class="modal fade bd-example-modal-lg cart-popup" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg">
		    <div class="modal-content">

		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <a href="cart.html"><h4 class="modal-title">Item added to My Cart (3 Items)</h4> </a>
		      </div>

		      <div class="modal-body">
			      <div class="container">
			      	<div class="top-popup-row">

				      	<div class="col-xs-6">
				      		<canvas id="item-popup" width="137" height="183"></canvas>
				      		<canvas id="item-details-popup" width="137" height="183"></canvas>
				      	</div>

			      		<div class="col-xs-6" id="checkout-continue-row">
			      			<div class="row">
			      				<a href="cart.html"><canvas id="btn-checkout" width="316" height="56" href="cart.html"></canvas></a>
			      			</div>
			      			<div class="row">
			      				<a href="plp.html"><canvas id="btn-continue" width="316" height="56" href="plp.html"></canvas></a>
			      			</div>
			      		</div>

			      	</div>
			      </div>
			      <br><hr>
		        <div class="container-fluid" id="also-like-row">
		        	<canvas id="you-may-also-like-modal" width="827" height="319"></canvas>
		        </div>
		      </div>
		      <div class="modal-footer"></div>
		    </div>
		  </div>
		</div>
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++ Modal ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
		<!-- SCRIPTS -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<script type="text/javascript" src="../../js/tether.min.js"></script>
		<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../js/mdb.min.js"></script>
		<!-- <script type="text/javascript" src="../js/addToCart.js"></script> -->
		<script type="text/javascript" src="../js/PDP.js"></script>
		<script type="text/javascript" src="../js/popup_PDP.js"></script>
  </body>
</html5>